{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--{% for post in object_list %}-->
<!-- Carousel -->
<section class="home-slider owl-carousel" id="Home">
    <div class="slider-item" style="height: 90vh; margin-top: 70px;" data-stellar-background-ratio="1">
        <img src="{% static 'img/p-2.jpg' %}" class="w-100 h-100" style=" position: absolute;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
            <div class="row no-gutters slider-text justify-content-center" data-scrollax-parent="true">
                <div class="col-md-12 text-center text-white mt-5">
                    <h1 class="display-4 font-weight-bold" style="color:#fff;">Abdumalikovich Rustamjon
                        Isroilov </h1><br><br>
                    <span class="line"></span><br><br><br>
                    <span style="font-size: 22px;color: #fff;">AbRuls Saytiga hush kelibsiz</span>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="height: 90vh; margin-top: 70px;" data-stellar-background-ratio="1">
        <img src="{% static 'img/p-6.jpg' %}" class="w-100 h-100" style=" position: absolute;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-12 text-center text-white mt-5">
                    <h1 class="display-4 font-weight-bold" style="color:#fff;">Abdumalikovich Rustamjon
                        Isroilov </h1><br><br>
                    <span class="line"></span><br><br><br>
                    <span style="font-size: 22px;color: #fff;">AbRuls Saytiga hush kelibsiz</span>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="height: 90vh; margin-top: 70px;" data-stellar-background-ratio="1">
        <img src="{% static 'img/p-10.jpg' %}" class="w-100 h-100" style=" position: absolute;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-12 text-center text-white mt-5">
                    <h1 class="display-4 font-weight-bold" style="color:#fff;">Abdumalikovich Rustamjon
                        Isroilov </h1><br><br>
                    <span class="line"></span><br><br><br>
                    <span style="font-size: 22px;color: #fff;">AbRuls Saytiga hush kelibsiz</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Carousel -->
<!--{% endfor %}-->
{% endblock %}