{% extends 'base.html' %}
{% load static %}
{% block post %}
<!--{% for post in object_list %}-->

   <!-- Post -->
    <br>
    <h1 class="text-center mt-4" id="Post">
        POST <br>
        <span class="line-2"></span>
    </h1>
    <div class="row justify-content-center mt-4">
        <div class="col-md-2 text-center hv mx-md-4 p-0 portfolio-item filter finance">
            <a class="portfolio-link text-d" href="#portfolioModal1" data-toggle="modal">
                <img src="{% static 'img/03.jpg' %}" class="w-100">
                <p class="mt-4 font-weight-bold text-dark" style="font-size: 19px;">
                    Jack Hendrix <br>
                    <span class="line-3"></span><br>
                    <b class="text-dark" style="font-size: 15px;">President</b>
                </p>
                <span class="text-dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam blanditiis similique omnis deserunt fugiat
            nostrum porro natus eligendi neque fuga?
          </span>
                <br><br>
            </a>
        </div>
        <div class="col-md-2 text-center hv mx-md-4 p-0 portfolio-item filter finance">
            <a class="portfolio-link text-d" href="#portfolioModal2" data-toggle="modal">
                <img src="{% static 'img/avatar_4.jpg' %}" class="w-100">
                <p class="mt-4 font-weight-bold text-dark" style="font-size: 19px;">
                    Elizabet Newman <br>
                    <span class="line-3"></span><br>
                    <b class="text-dark" style="font-size: 15px;">Partner</b>
                </p>
                <span class="text-dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam blanditiis similique omnis deserunt fugiat
            nostrum porro natus eligendi neque fuga?
          </span>
                <br><br>
            </a>
        </div>
        <div class="col-md-2 text-center hv mx-md-4 p-0 portfolio-item filter finance">
            <a class="portfolio-link text-d" href="#portfolioModal3" data-toggle="modal">
                <img src="{% static 'img/avatar_6.jpg' %]" class="w-100">
                <p class="mt-4 font-weight-bold text-dark" style="font-size: 19px;">
                    Junnifer Smith <br>
                    <span class="line-3"></span><br>
                    <b class="text-dark" style="font-size: 15px;">C.E.O</b>
                </p>
                <span class="text-dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam blanditiis similique omnis deserunt fugiat
            nostrum porro natus eligendi neque fuga?
          </span>
                <br><br>
            </a>
        </div>
    </div>
    <!-- /Post -->

<!--{% endfor %}-->
{% endblock %}